.main{
    padding: 5px;
    text-align: center;
    
}

.light{
    display: flex;
    background-color: rgb(94, 31, 31);
}

ul{
    display: flex;
    list-style-type: none;
    
}

li{
    padding: 10px;
    

}

a:link{
    text-decoration: none;
    color:white;
}

.pen{
    padding-right: 500px;
}

.hair{
    background-color: rgb(112, 111, 111);
    padding: 100px;
}
.beeds{
    text-align: left;
    display: flex;
    background-color: black;
}

h3{
    color: white;
}

label{
    color: white;
}

.dance{
    color: white;
}
button{
    border-radius: 50px;
    background-color: rgb(185, 28, 28);
    color: white;
    display: inline-block;
    border: none;
}